/* Reset */

* {margin: 0; padding: 0;}

footer, header, nav, main, section {display: block;}

a {text-decoration: none;}

ul, li {list-style: none;}

input {outline: none; border: none;}

input[type="submit"] {cursor: pointer;}

img {max-width: 100%;}

/* Box Model */

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

/* Clearfix */

.clearfix:before,
.clearfix:after {
    content: '';
    display: table;
}

.clearfix:after {clear: both;}

/* Basic */

.left {float: left;}
.right {float: right;}

.text-left {text-align: left;}
.text-right {text-align: right;}
.text-center {text-align: center;}

.search::after,
.top-menu::after,
.over1::after,
.over2::after,
.over3::after,
.more-button::after {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

/* Header */

.area {
    width: 1000px;
    margin: 0 auto;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    min-height: 120px;
}

.logo {
    width: 30%;
    padding: 29px 0 0 17px;
}

.search {
    position: relative;
    margin: 20px -13px 0 0;
    padding: 0 13px;
    width: 33%;
    height: 35px;
    background: rgba(118,178,195,.9) url(../images/search-icon.png) no-repeat right 22px center;
}

.search:before {
    content: '';
    position: absolute;
    right: 0;
    background: url(../images/search-icon2.png) no-repeat;
    width: 13px;
    height: 46px;
    opacity: .9;
}

.search span,
.search a {
    margin-right: 10px;
    color: white;
    font: .81em 'ProximaNovaRegular';
}

.top-menu {
    width: 70%;
    height: 66px;
}

.top-menu a {
    margin-right: 8.5%;
    font: 0.94em 'ProximaNovaRegular';
    color: #668333;
    text-transform: uppercase;
    transition: all .5s;
}

.top-menu a:hover {font: 1em 'ProximaNovaBold';}

.top-menu a:last-child {margin-right: 16px;}

.top-menu .active {color: #4999af;}

/* Header end */

/* Main */

main {
    background: #f3eeea;
}

.blocks {padding: 29px 0;}

.boxes {
    position: relative;
    width: 32%;
    height: 200px;
    color: white;
}

.boxes:nth-child(2) {margin: 0 2%;}

.boxes h1 {
    position: absolute;
    top: 92px;
    right: 20px;
    text-shadow: .5px .9px 5px rgba(0,0,0,.6);
    font: 2.81em 'ProximaNovaSemibold';
    text-transform: uppercase;
}

.over1,
.over2,
.over3 {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 82%;
    height: 46px;
    font: 1em 'ProximaNovaRegular';
}

.over1 {
    background: rgba(70,149,168,.8) url(../images/circle.png) right 12px center no-repeat;
    padding-left: 20px;
}

.over2 {
    background: rgba(117,136,71,.8) url(../images/circle.png) right 12px center no-repeat;
    padding-left: 27px;
}

.over3 {
    background: rgba(233,128,111,.8) url(../images/circle.png) right 12px center no-repeat;
    padding-left: 22px;
}

.news {
    min-height: 253px;
    padding-bottom: 53px;
}

.upcoming-events,
.sevenoaks {width: 50%;}

.upcoming-events {
    padding-right: 1.9%;
}

.sevenoaks {
    padding-left: 1.9%;
}

.sevenoaks p {
    font: 0.88em 'ProximaNovaRegular';
    color: #5f5f5f;
}

.sevenoaks a {
    font: 0.88em 'ProximaNovaBold';
    color: #f1715e;
    text-transform: uppercase;
}

.upcoming-events h2,
.sevenoaks h2 {
    color: #4999af;
    font: 1.38em 'ProximaNovaSemibold';
    text-transform: uppercase;
    margin-bottom: 21px;
}

.events {
    height: 76px;
    border-top: 1px solid #d2cdc9;
}

.events .more-button {
    display: block;
    width: 90px;
    height: 33px;
    background: #4999af;
    color: #f3eeea;
    font: 1em 'ProximaNovaRegular';
    text-transform: uppercase;
}



#scrollUp {
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background: #555;
    color: #fff;
}